*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
header{
    position: absolute;
    top: 0;
   
}
.header{
    width: 1390px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005555;
    height: 81px;
    margin-top: 20px;
    border-radius: 10px;
    
}
.header .logo a{
    text-decoration: none;
    font-size: 24px;
    margin: 20px 0px 25px 30px ;
    color: #bbd2d2;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
    margin-left: 15px;
    padding: 20px;
}
nav ul li a{
   text-decoration: none;
   font-size: 14px;
   color: #6a9c9c;
   font-weight: 700;
}
nav ul li a:hover{
    color: #d7e1e1;
}
.nametrang{
    text-align: center;
    padding-top: 100px;
   
}
.nametrang h1{
   padding-bottom: 20px;
   color: #ffffff;
   position: relative;
   top: 0px;
   animation: pro 2s 1;

}
@keyframes pro{
    0%{
        top: 50px;
    }
}
.anhnen img{
    width: 100%;
    height:350px;
    position: relative;
    top: 0;
    left: 0;
}
.nametrang p{
     color: aliceblue;
     position: relative;
     top: 0px;
   animation: prore 4s 1;
}
@keyframes prore{
    0%{
        top: 50px;
    }
}
.nametrang strong{
    color: #989595;
}
.tiller{
    padding: 30px;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.content p{
    line-height: 20px;
    opacity: 0.5;
}
.sanpham{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
}
.sanpham .img img{
    width: 100%;
}
.thongtin .thongtin1{
display: flex;
justify-content: space-between;

}
.thongtin .thongtin1 i{
    padding: 30px;
    background-color: #bbbdbd;
    margin-bottom: 20px;
    border-radius: 50%;
}

.tin{
    /* margin-top: 20px; */
    margin-left: 20px;
}

.tin p{
 width: 80%;
 opacity: 50%;
}
.thongtin1:hover>i{
   border: 4px solid #10553a;
   transition: .9s;
   transform: translateX(10px);
}
.thongtin1:hover>.tin h5{
    transition: .9s;
    font-size: 24px;
}
.thongtins .thongtins1{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    
    }
.thongtins .thongtins1 i{
    padding: 30px;
    background-color: #bbbdbd;
    margin-bottom: 20px;
    border-radius: 50%;
}
.tins{
    margin-left: 20px;
}
.tins p{
    opacity: 50%;
}
.thongtins1:hover>i{
    border: 4px solid #00204a;
    transition: .9s;
    transform: translateX(10px);
 }
 .thongtins1:hover>.tins h5{
     transition: .9s;
     font-size: 24px;
 }
 .anh{
    display: grid;
grid-template-columns: repeat(3,1fr);

padding-top: 100px;
 }
 .anh img{
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
 }
 #so_1{
    position: relative;
    top: 0px;
    animation: so1 1s 1;
 }

@keyframes so1 {
    0%{
        top: 120px;
    }
}
#so_2{
    position: relative;
    top: 0px;
    animation: so2 1s 1;
 }
 @keyframes so2{
    0%{
        top: 120px;
    }
 }
#bottom{
    padding-top: 40px;
    position: relative;
    top: 0px;
    animation: button 2s 1;
}
@keyframes  button{
    0%{
        top: 120px;
    }
}
.team{
    height: 550px;
    padding-top: 90px;
}
.theteam h1{
    padding: 20px;
    text-transform:uppercase;
   color: #00204a;
}
.thanhvien{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.tvien img{
    border-radius: 50%;
    width: 20%;
}
.tvien span{
    opacity: 0.5;
}
.tvien p{
    padding: 20px 0px;
}
.tvien h5{
    padding-top: 10px;
    padding-bottom: 15px;
}
.dev{
    padding-top: 20px;
}
.dev i{
    font-size: 20px;
    padding: 15px;
    background-color: #00204a;
    border-radius: 50%; 
    color: #fff;
}
.dev i:hover{
    transition: .5s;
     transform: translateY(10px);
     background-color: #777777;
     color: #00204a;
}
.sources h2{
    text-transform: uppercase;
    
}

 /* đến phần của footer */
footer{
    background-color: #efefef;
    /* height:300px ; */
    padding: 40px;
}
.CONTACT_SOURCES_LINKS{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.contact p{
 color: #c9c6c6;
 margin-top: 10px;
 margin-bottom: 20px;
 /* margin-right: 74px; */
}
.contact a{
    color: #c9c6c6;
    margin: 10px 0px;
}
.sources .sumnav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #c9c6c6;
}
.link ul li{
   list-style: none;
}
.link ul li a{
    color: #c9c6c6;
    text-decoration: none;
}
.link-icon{
    margin-top: 20px;
}
.link-icon i{
    margin-left: 10px;
    background-color: #cccccc;
    padding: 12px 12px;
    border-radius: 15px;
    font-size: 20px;
    color: #777777;
    transition: 0.5s;
}
.link-icon i:hover{
  transform: translateY(-10px);
  background-color: #00204a;
  color: #fff;
  border: none;
}
footer p{
    text-align: center;
    color: #777777;
    margin-top: 50px;
    font-size: 20px;

}
.but-mobile{
    display: none;
}

@media (max-width: 834px) {
    .container{
        width: 90%;
        margin: auto;
    }
   header{
     margin-left: 60px;
   }
    .header{
        width: 100%;
    }
    nav ul li{
        margin-left: 5px;
        
    }
     .tiller h1{
        padding-bottom: 20px;
     }
    
     .thongtin .thongtin1{
        padding-bottom: 10px;
     }
    .thongtin .thongtin1 i{
        padding: 15px;
        border-radius: 50%;
        font-size: 26px;
        
    }
    .tin h5{
        padding-bottom: 10px;
    }
    .thongtins .thongtins1 i{
        padding: 15px;
        border-radius: 50%;
        font-size: 26px;
    }
    .thongtins .thongtins1{
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        
        }
    .thanhvien{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    footer{
        position: relative;
        top: 340px;
    }

}
@media (max-width: 390px) {
    .container{
        width: 95%;
    }
    header{
        margin-left: 0px;
    }
   .header{
    width:360px;
    height: 50px;
   }
   #set{
    display: none;
   }
   .but-mobile{
    display: block;
   }
   #button-mobile {
    margin-right: 10px;
   }
   #button-mobile i{
    font-size: 20px;
   }
   #menu{
    display: block;
    position: absolute;
    width: 50%;
    right: 10px;
    top: 70px;
    z-index: 10;

    background-color: #fff;
    visibility: hidden;
    overflow-y: hidden;

   }
   #sub.acticer #menu{
    visibility: visible;
    overflow-y: auto;
   }

    .content p{
        font-size: 12px;
        opacity: 1;
    }
    .sanpham{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .thongtin .thongtin1 i{
       padding: 30px;
       border-radius: 50%;
       font-size: 26px;
    }
    .thongtins{
        margin-top: 20px;
    }
    .thongtins .thongtins1{
      margin-left: 7px;
    }
    .tvien img{
        width: 50%;
    }
    .tvien span{
        font-size: 10px;
    }
    .tvien p{
        font-size: 10px;
    }
    .dev i{
        padding: 10px;
        font-size: 10px;
    }
  
    .CONTACT_SOURCES_LINKS{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       margin-left: -20px;
       gap: 10px;
    }
    .contact{
       
        font-size: 12px;
    }
    .contact p{
        margin-bottom: 10px;
        font-size:10px;
        margin-left: -1px;
    }
    .sources h2{
        font-size: 20px;
    }
    .nav ul li a{
       font-size: 10px;
    }
    .link h2{
        font-size: 20px;
    }
    .link ul li a{
        font-size: 10px;
    }
    .link-icon i{
        padding: 10px;
        font-size: 10px;
        
    }
    footer p{
        font-size: 10px;
    }
     
} 